<form>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Post</h3>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Post Title:</label>
          <br>
          <input #newTitle>
        </div>

        <div>
          <label>Post Description:</label>
          <br>
          <textarea #newDescription></textarea>
        </div>

        <div>
          <label>Post Type:</label>
          <br>
          <select #newType>
            <option value=""></option>
            <option value="music">Music</option>
            <option value="news">News</option>
            <option value="sports">Sports</option>
          </select>
        </div>
        <button (click)="submitForm(newTitle.value, newDescription.value, newType.value); newTitle.value=''; newDescription.value=''; newType.value=''">Add</button>
      </div>
    </div>
  </div>
</form>
